.sidebar {
  //   border: 2px solid blue;
}

.first-card {
  border: 1px solid rgb(240, 242, 247);
  padding: 24px 24px 0px;
  width: 40%;
  border-radius: 8px;
  box-sizing: border-box;
}
.dollars {
  display: flex;
  justify-content: space-between;
}
.dollar-img {
  width: 32px;
  height: 32px;
}
.dollar-title {
  font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: inherit;
  text-transform: none;
  font-style: normal;
  color: rgb(80, 89, 107);
  cursor: inherit;
  display: block;
  opacity: 1;
  padding-left: 10px;
}
.price {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.usd {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: inherit;
  color: rgb(53, 63, 82);
  cursor: pointer;
  text-transform: none;
  opacity: 1;
  display: block;
  font-style: normal;
  font-weight: 500;
}
.mini-usd {
  font-size: 12px;
  white-space: nowrap;
  line-height: inherit;
  color: rgb(152, 161, 178);
  cursor: pointer;
  text-transform: none;
  opacity: 1;
  display: block;
  font-style: normal;
  font-weight: 500;
}

.bitcion-card {
  border: 1px solid rgb(240, 242, 247);
  padding: 24px 24px 0px;
  width: 58%;
  border-radius: 8px;
  box-sizing: border-box;
  .btc-with-img {
    display: flex;

    align-items: center;
    h3 {
      font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
      font-weight: 500;
      font-size: 18px;
      line-height: inherit;
      text-transform: none;
      font-style: normal;
      color: rgb(0, 0, 0);
      cursor: pointer;
      display: block;
      opacity: 1;
      padding-top: 10px;
      padding-left: 8px;
    }
    .btc-img {
      width: 20px;
      height: 20px;
    }
  }
  .btc-in-price {
    font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-weight: 600;
    font-size: 24px;
    line-height: inherit;
    text-transform: none;
    font-style: normal;
    color: rgb(0, 0, 0);
    cursor: inherit;
    display: block;
    opacity: 1;
    padding: 0;
    margin: 0;
  }
  .rising {
    font-weight: 600;
    color: rgb(0, 153, 76);
  }
  .buy-buttons {
    .buyButton {
      width: auto;
      min-width: 140px;
      height: 42px;
      padding: 10px 15px;
      box-sizing: border-box;
      user-select: none;
      text-align: center;
      text-decoration: none;
      vertical-align: middle;
      letter-spacing: normal;
      transition: all 0.2s ease-in-out 0s;
      white-space: nowrap;
      line-height: 1;
      text-transform: none;
      font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
      font-size: 14px;
      font-weight: 600;
      cursor: pointer;
      opacity: 1;
      color: rgb(255, 255, 255);
      background-color: rgb(12, 108, 242);
      border-radius: 8px;
      border-style: solid;
      border-width: 1px;
      border-color: rgb(12, 108, 242);
    }
    .swapButton {
      width: auto;
      min-width: 140px;
      height: 42px;
      padding: 10px 15px;
      box-sizing: border-box;
      user-select: none;
      text-align: center;
      text-decoration: none;
      vertical-align: middle;
      letter-spacing: normal;
      transition: all 0.2s ease-in-out 0s;
      white-space: nowrap;
      line-height: 1;
      text-transform: none;
      font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
      font-size: 14px;
      font-weight: 600;
      cursor: pointer;
      opacity: 1;
      color: rgb(12, 108, 242);
      background-color: rgb(255, 255, 255);
      border-radius: 8px;
      border-style: solid;
      border-width: 1px;
      border-color: rgb(12, 108, 242);
    }
  }
}
.headerButtons {
  .sendButton {
    width: auto;
    min-width: 86px;
    height: 32px;
    padding: 10px 15px;
    box-sizing: border-box;
    user-select: none;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    letter-spacing: normal;
    transition: all 0.2s ease-in-out 0s;
    white-space: nowrap;
    line-height: 1;
    text-transform: none;
    font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    opacity: 1;
    color: rgb(12, 108, 242);
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(223, 227, 235);
  }
  .tradeButton {
    background-image: radial-gradient(
      at right bottom,
      rgb(33, 202, 224) 0%,
      rgb(89, 95, 238) 80%
    );
    color: white;
    width: 88px;
    min-width: 88px;
    height: 32px;
    padding-right: 0px;
    padding-left: 0px;
    border: none;
    border-radius: 4px;
  }
}

.headerRightIcons {
  .userAccount {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    padding: 10px 12px;
    button {
      position: relative;
      transition: color 0.3s ease 0s;
      background: transparent;
      min-width: auto;
      width: auto;
      padding: 0px;
      border: 0px;
      flex-direction: row;
      -webkit-box-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      align-items: center;

      height: 40px;
      box-sizing: border-box;
      user-select: none;
      text-align: center;
      text-decoration: none;
      vertical-align: middle;
      letter-spacing: normal;
      white-space: nowrap;
      line-height: 1;
      text-transform: none;
      font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
      font-size: 14px;
      font-weight: 600;
      cursor: pointer;
      opacity: 1;
      color: rgb(53, 63, 82);
      border-radius: 8px;
    }
    svg {
      color: rgb(53, 63, 82);
    }
  }
}

.nav-item {
  list-style: none;
  display: flex;
  -webkit-box-align: stretch;
  align-items: stretch;
  margin: 0px;
  padding: 0px 0px 0px 24px;
  cursor: pointer;

  .nav-link {
    font-size: 16px;
    border-radius: 4px;
    font-weight: 500;
    padding: 10px;
    &:hover {
      background-color: rgb(236, 245, 254); // padding: 5px 8px;
      border-radius: 4px;
    }
    &.active {
      background-color: rgb(236, 245, 254);
      border-radius: 4px;
    }
  }
}
.topPart {
  .totalBalance {
    h3 {
      margin-right: 8px;
      font-size: 12px;
      font-weight: 600;
      color: rgb(103, 113, 132);
      line-height: 150%;
      margin: 0;
    }
    b {
      color: rgb(53, 63, 82);
      font-weight: 600;
      font-size: 24px;
    }
  }
  .droppy {
    border: 1px solid rgb(223, 227, 235);
    color: rgb(152, 161, 178);
    height: 21px;
    padding: 0;
    width: 22px;
  }
}
.homeTab {
  padding: 10px 8px 10px 8px;

  h3 {
    color: rgb(13, 53, 120);
    white-space: nowrap;
    font-size: 18px;
    padding-left: 8px;
    margin: 0;
    // padding-top: 2px;
  }
  img {
    width: 20px;
    height: 20px;
  }
  &:hover {
    background-color: rgb(236, 245, 254); // padding: 5px 8px;
    border-radius: 4px;
  }
  &.active {
    background-color: rgb(236, 245, 254);
    border-radius: 4px;
  }
}
.coinTab {
  padding: 10px 8px 10px 8px;

  h3 {
    color: rgb(13, 53, 120);
    white-space: nowrap;
    font-size: 18px;
    padding-left: 8px;
    margin: 0;
    // padding-top: 2px;
  }
  img {
    width: 20px;
    height: 20px;
  }
  &:hover {
    background-color:rgba(0, 178, 107, 0.25); // padding: 5px 8px;
    border-radius: 4px;
  }
  &.active {
    background-color:rgba(0, 178, 107, 0.25);
    border-radius: 4px;
  }
}
.btcTab {
  padding: 10px 8px 10px 8px;

  h3 {
    color: rgb(13, 53, 120);
    white-space: nowrap;
    font-size: 18px;
    padding-left: 8px;
    margin: 0;
    // padding-top: 2px;
  }
  img {
    width: 20px;
    height: 20px;
  }
  &:hover {
    background-color:rgba(255, 155, 34, 0.25); // padding: 5px 8px;
    border-radius: 4px;
  }
  &.active {
    background-color:rgba(255, 155, 34, 0.25);
    border-radius: 4px;
  }
}
.portFolio {
  justify-content: space-between;
  p {
    margin: 0;
    padding-right: 6px;
    font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    text-transform: none;
    font-style: normal;
    color: rgb(103, 113, 132);
    cursor: inherit;
    display: block;
    opacity: 1;
  }
  hr{
      margin: 10px 0;
      color: rgb(216, 221, 236);
  }
}
